<div class="container">
	<div class="row">
        <div class="col-md-12">
            <div class="copyright text-center">
            	<p>&copy; Deividas Margelis Portfolio.</p>
            </div>
        </div>
    </div>
</div>