
<nav class="navbar navbar-custom" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt=""></a>
    </div>

    <div class="collapse navbar-collapse" id="custom-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about-section">About</a></li>
        <li><a href="#resume-section">Resume</a></li>
        <li><a href="#skills-section">Skills</a></li>
        <li><a href="#works-section">Works</a></li>
        <li><a href="link"><i class="fa fa-download"></i> cv</a></li>
      </ul>
    </div>
  </div>
</nav>